@{
    ViewData["Title"] = "إبحث في المصحف";
}
<div>
    <h2 style="width:60%; margin-top:15%;margin-left:28%;">أدخل الكلمه أو الجمله التي تريد أن تبحث عنها في المصحف </h2>
    <div class="text-center" style="width:60%; margin-top:5%;margin-left:20%;">
        <form class="d-flex" asp-controller="Home" asp-action="Filter">
            <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
            <input name="searchString" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
        </form>
    </div>
</div>