@model List<string>
@{
    ViewData["Title"] = "إبحث في المصحف";
}

<h1 style="text-align:center; margin-top:50px">نتائج البحث</h1>

<table class="table table-hover" style="margin-top:60px">
    @foreach (var item in Model)
    {
        @if (item.Contains("سورة") && item.Length <= 13)
        {
            <tr class="table-primary" dir="rtl">
                <th scope="col">@item</th>
            </tr>
        }
        else
        {
            <tbody>
                <tr class="table-warning">
                    <td scope="row" dir="rtl">
                        @item
                    </td>
                </tr>
            </tbody>
        }
    }
</table>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index" style="margin-left:45%;margin-top:10px">الصفحة الرئيسية</a>