@model List<string>
@{
    ViewData["Title"] = "إبحث في المصحف";
}

<h1>نتائج البحث</h1>

<table class="table table-hover">
    @foreach (var item in Model)
    {
        @if (item.Contains("سورة") && item.Length <= 13)
        {
            <tr class="table-primary" dir="rtl">
                <th scope="col">@item</th>
            </tr>
        }
        else
        {
            <tbody>
                <tr class="table-warning">
                    <td scope="row" dir="rtl">
                        @item
                    </td>
                </tr>
            </tbody>
        }
    }
</table>
<div class="button-container">
    <a class="home-button" asp-controller="Home" asp-action="Index">الصفحة الرئيسية</a>
</div>
